.pagina {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.imagem {
  width: 66%;
  position: relative;
}

.imagem img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status {
  position: absolute;
  bottom: 40px;
  left: 55%;
  transform: translateX(-50%);
  width: 630px;
  height: 150px;
  background: white;
  padding: 20px;

  border-radius: 10px;
}

.status-header {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
}

.status h3 {
  color: #075294;
  font-size: 30px;
}

.status img {
  width: 30px;
}

.status p {
  color: #666;
  font-size: 21px;
  text-align: start;
}

.login {
  width: 34%;
  padding: 60px;

  background: #f8f9ff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 140px;
    margin-bottom: 40px;
  }
}

.login h1 {
  color: #075294;
  text-align: center;
  font-size: 40px;
}

.login > p {
  text-align: center;
  color: #777;
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.login label {
  font-size: 14px;
  color: #181717;
  margin-bottom: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.login input[type="text"],
.login input[type="password"] {
  width: 100%;

  padding: 12px;
  margin-top: 5px;
  border: 1px solid #d5d8e0;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 18px;

  background-color: #f0f4f8;
}

.lembrar {
  display: flex;
  align-items: center;

  gap: 7px;

  font-size: 16px;
  color: #555;
  margin-right: auto;
  margin-bottom: 20px;
}

button {
  width: 100%;
  height: 60px;
  padding: 12px;

  background: #075294;
  color: white;

  border: none;
  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
}

button:active {
  background-color: #033056;
}

small {
  text-align: center;

  color: #888;
  font-size: 14px;

  margin-top: 50px;
}

#mensagem {
  position: absolute;
  font-size: 15px;
  color: red;
}
